<h1>buscando: <small>{{termino}}</small></h1>
<hr>


<div class="row animated fast fadeIn" *ngIf="heroe.length == 0">
<div class="col-md-12">
    <div class="alert alert-info" role="alert">
        No existen resultados para la búsqueda : {{termino}}
    </div>
</div>
</div>


<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroe">
        <img [src]=" heroe.img " class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title text-lg-center">{{ heroe.nombre }}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <button (click)="verHeroe(termino)" 
            type="button" class="btn btn-outline-primary btn-block">Ver más</button> 
            
            <!-- <a [routerLink]="['/heroe' , 'i']" class="btn btn-outline-primary">Ver más link</a> -->
            <!-- con routerLink para que redireccione bien a heroe tendríamos que ponerle una barra lateral para que vea que es un append de la página raiz y no nos lleve al inicio. El caso es que tu estando en la ruta heroes al meter un routerlink nuevo le estas inyectando la palabra heroe a la ruta y dará error y te lleva a la página inicial como le has indicado en la hoja de rutas. por eso si le metes la barra lateral le estád diciendo que es una subpágina de la página -->
       
        </div>
      </div>
</div>